/* 
start here
*{
    box-sizing: border-box;
}
.container{
    margin: 12px;
    padding: 13px;
    height: 92vh;
}
header{
    background-color: aqua;
    height: 50px;
    border: 1px solid black;
}
main{
    background-color: green;
    height: 120px;
}
main aside {
    height: 100%;
    width: 30%;
    float: left;
    background-color: cadetblue;
    border: 1px dashed royalblue;
}
main article {
    background-color: saddlebrown;
    float: right;
    width: 70%;
    border: 3px solid khaki;
    height: 100%;
}
footer{
    background-color: greenyellow;
    height: 25px;
}
footer span {
    background-color: grey;
}
main aside div.box{
    height: 80px;
    width: 100px;
    border: 1px solid black;
    margin-left: 1rem;
    box-shadow: 5px 5px 10px #000;
    border-radius: 15px;
    background-color: cadetblue;
} */

/*CUBE*/
/* 
.view{
    width: 200px;
    height: 200px;
    perspective: 300px;
}
.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateX(50px) translateY(50px);
}
.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solid red;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
}
.front{
    transform: rotateY(0deg) translateZ(50px);
}
.right{
    transform: rotateY(90deg) translateZ(50px);
}
.back{
    transform: rotateY(180deg) translateZ(50px);
}
.left{
    transform: rotateY(-90deg) translateZ(50px);
}
.top{
    transform: rotateX(90deg) translateZ(50px);
}
.bottom{
    transform: rotateX(-90deg) translateZ(50px);
} */

/*GRID SYSTEM*/
/* CSS Variables */
:root {
    --primary: #ddd;
    --darker: #333;
    --lighter: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--darker);
} 
body {
    background: #fff;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--darker);
    color: var(--lighter);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border-radius: 15px;
}
img {
    max-width: 100%;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
} 
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--darker);
    color: var(--lighter);
}

.showcase {
    min-height: 400px;
    background: url(img.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--lighter);
}
.showcase p,h1 {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--lighter);
    font-family: cursive;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} 
.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}
/* Footer */
footer {
    margin-top: 2rem;
    background: var(--darker);
    color: var(--lighter);
    text-align: center;
    padding: 1rem;
}