*{
    box-sizing: border-box;
}
.container{
    margin: 12px;
    padding: 13px;
    height: 92vh;
}
header{
    background-color: aqua;
    height: 50px;
    border: 1px solid black;
}
main{
    background-color: green;
    height: 120px;
}
main aside {
    height: 100%;
    width: 30%;
    float: left;
    background-color: cadetblue;
    border: 1px dashed royalblue;
}
main article {
    background-color: saddlebrown;
    float: right;
    width: 70%;
    border: 3px solid khaki;
    height: 100%;
}
footer{
    background-color: greenyellow;
    height: 25px;
}
footer span {
    background-color: grey;
}
